# Frontend config
PUBLIC_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org/"
LOCAL_STELLAR_NETWORK_PASSPHRASE="Standalone Network ; February 2017"

# Used by deploy & upgrade scripts.
SOROBAN_NETWORK="local"
SOROBAN_ACCOUNT="ci_local"
SOROBAN_SECRET_KEY=""

# Used by the upgrade script mainly for GitHub Actions
# If left empty, it will use values from .stellar
CONTRACT_ID_LOAN_MANAGER=
CONTRACT_ID_POOL_XLM=
CONTRACT_ID_POOL_USDC=
CONTRACT_ID_POOL_EURC=

# Liquidation bot config
POSTGRES_USER=admin
POSTGRES_PASSWORD=kissa123
POSTGRES_DB=liquidation-db
DATABASE_URL=postgres://admin:kissa123@localhost:5432/liquidation-db
ORACLE_ADDRESS="CCYOZJCOPG34LLQQ7N24YXBM7LL62R7ONMZ3G6WZAAYPB5OYKOMJRN63"

# Currency contract & issuer addresses
PUBLIC_CONTRACT_ADDRESS_XLM=
PUBLIC_CONTRACT_ADDRESS_USDC=
PUBLIC_CONTRACT_ADDRESS_EURC=
PUBLIC_ISSUER_ADDRESS_USDC=
PUBLIC_ISSUER_ADDRESS_EURC=